.nav{
  
  &-wrapper{
    font-size: 25px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  &-list{
    width: 300px;
    display: flex;
    justify-content: space-between;
    &__item{
      color: black;
      text-decoration: none;
    }
  }
}